SERVIDOR_AD=ad.empresa.local
DOMINIO_AD=empresa.local
USUARIO_SERVICE_ACCOUNT_AD=svc_api@empresa.local
SENHA_USUARIO_SERVICE_ACCOUNT_AD=MinhaSenhaForte123
DN_BASE_AD=DC=empresa,DC=local
TIMEOUT_LDAP=5
DIAS_EXPIRACAO_SENHA_AD=90

DN_PADRAO_AD=DC=empresa,DC=local

DEBUG=True

TAMANHO_MINIMO_SENHA_AD=8
EXIGIR_MINUSCULA_SENHA_AD=True
EXIGIR_MAISCULA_SENHA_AD=True
EXIGIR_NUMERO_SENHA_AD=True
EXIGIR_CARACTERE_ESPECIAL_SENHA_AD=True
CHARS_ESPECIAIS_SENHA_AD="!@#$%&*"