DEBUG=True
LOG_LEVEL=INFO
AD_PADRAO=PADRAO
CAMINHO_ARQUIVO_YML=config.yml
AD_1_SENHA_SERVICE_ACCOUNT=SENHA_MUITO_SEGURA@123
AD_1_CHAVE_API_HASH=HASH_CHAVE_MUITO_SEGURA@123
AD_2_SENHA_SERVICE_ACCOUNT=SENHA_MUITO_SEGURA@123
AD_2_CHAVE_API_HASH=HASH_CHAVE_MUITO_SEGURA@123